body {
    background-color: rgb(109, 111, 113);
}

header {
    margin: 3rem;
    font-family: Georgia, serif;
    font-size: 60px;
    color: rgb(250, 250, 110);
}


.friends { 
    background-color: aqua;
}

h3 {
    color: rgb(250, 250, 110);
    text-transform: uppercase;
}





